.bg-red-800 { background: #750b1c; }
.bg-red-700 { background: #a80000; }
.bg-red-600 { background: #c50f1f; }
.bg-red-500 { background: #e81123; }
.bg-red-400 { background: #e74856; }
.bg-red-300 { background: #e6808a; }
.bg-red-200 { background: #f4abba; }

.bg-vermilion-800 { background: #7f1d10; }
.bg-vermilion-700 { background: #a52613; }
.bg-vermilion-600 { background: #da3b01; }
.bg-vermilion-500 { background: #f03a17; }
.bg-vermilion-400 { background: #ef6950; }
.bg-vermilion-300 { background: #ee9889; }
.bg-vermilion-200 { background: #eec7c2; }

.bg-orange-800 { background: #7f2f08; }
.bg-orange-700 { background: #a74109; }
.bg-orange-600 { background: #ca5010; }
.bg-orange-500 { background: #f7630c; }
.bg-orange-400 { background: #f7894a; }
.bg-orange-300 { background: #f7b189; }
.bg-orange-200 { background: #f2d5c9; }

.bg-light-orange-800 { background: #7f4200; }
.bg-light-orange-700 { background: #b05e0d; }
.bg-light-orange-600 { background: #d47300; }
.bg-light-orange-500 { background: #ff8c00; }
.bg-light-orange-400 { background: #ffaa44; }
.bg-light-orange-300 { background: #ffc988; }
.bg-light-orange-200 { background: #ffdabb; }

.bg-amber-800 { background: #ab620d; }
.bg-amber-700 { background: #d48c00; }
.bg-amber-600 { background: #eaa300; }
.bg-amber-500 { background: #ffb900; }
.bg-amber-400 { background: #ffc83d; }
.bg-amber-300 { background: #ffd679; }
.bg-amber-200 { background: #ffe5b6; }

.bg-yellow-800 { background: #986f0b; }
.bg-yellow-700 { background: #c19c00; }
.bg-yellow-600 { background: #dfbe00; }
.bg-yellow-500 { background: #fce100; }
.bg-yellow-400 { background: #fff100; }
.bg-yellow-300 { background: #faec6e; }
.bg-yellow-200 { background: #f9f1a5; }

.bg-lime-800 { background: #73aa24; }
.bg-lime-700 { background: #8cbd18; }
.bg-lime-600 { background: #a4cf0c; }
.bg-lime-500 { background: #bad60a; }
.bg-lime-400 { background: #d1ec3c; }
.bg-lime-300 { background: #e4f577; }
.bg-lime-200 { background: #f8ffb3; }

.bg-green-800 { background: #086a0b; }
.bg-green-700 { background: #107c10; }
.bg-green-600 { background: #13a10e; }
.bg-green-500 { background: #16c60c; }
.bg-green-400 { background: #47d041; }
.bg-green-300 { background: #79db75; }
.bg-green-200 { background: #aae5aa; }

.bg-sea-800 { background: #00722e; }
.bg-sea-700 { background: #10893e; }
.bg-sea-600 { background: #00ae56; }
.bg-sea-500 { background: #00cc6a; }
.bg-sea-400 { background: #38d467; }
.bg-sea-300 { background: #70dda5; }
.bg-sea-200 { background: #abe5c2; }

.bg-caribbean-800 { background: #005e50; }
.bg-caribbean-700 { background: #008272; }
.bg-caribbean-600 { background: #00b294; }
.bg-caribbean-500 { background: #00cea6; }
.bg-caribbean-400 { background: #41dabc; }
.bg-caribbean-300 { background: #81e6d3; }
.bg-caribbean-200 { background: #c2f2e9; }

.bg-turquoise-800 { background: #006666; }
.bg-turquoise-700 { background: #038387; }
.bg-turquoise-600 { background: #009ca4; }
.bg-turquoise-500 { background: #00b7c3; }
.bg-turquoise-400 { background: #30c6cc; }
.bg-turquoise-300 { background: #61d6d6; }
.bg-turquoise-200 { background: #91e5df; }

.bg-cyan-800 { background: #005870; }
.bg-cyan-700 { background: #006f94; }
.bg-cyan-600 { background: #0099bc; }
.bg-cyan-500 { background: #00bcf2; }
.bg-cyan-400 { background: #31d2f7; }
.bg-cyan-300 { background: #69eaff; }
.bg-cyan-200 { background: #99ecff; }

.bg-blue-800 { background: #003966; }
.bg-blue-700 { background: #004e8c; }
.bg-blue-600 { background: #0063b1; }
.bg-blue-500 { background: #0078d7; }
.bg-blue-400 { background: #3a96dd; }
.bg-blue-300 { background: #83beec; }
.bg-blue-200 { background: #b3dbf2; }

.bg-cobalt-800 { background: #00188f; }
.bg-cobalt-700 { background: #0027b4; }
.bg-cobalt-600 { background: #0037da; }
.bg-cobalt-500 { background: #0046ff; }
.bg-cobalt-400 { background: #3b78ff; }
.bg-cobalt-300 { background: #7ba7ff; }
.bg-cobalt-200 { background: #abc9ed; }

.bg-palatinate-800 { background: #11255e; }
.bg-palatinate-700 { background: #19318d; }
.bg-palatinate-600 { background: #203dbd; }
.bg-palatinate-500 { background: #2849ec; }
.bg-palatinate-400 { background: #4f68ed; }
.bg-palatinate-300 { background: #7c96f9; }
.bg-palatinate-200 { background: #a6bdff; }

.bg-iris-800 { background: #242466; }
.bg-iris-700 { background: #32318c; }
.bg-iris-600 { background: #413eb3; }
.bg-iris-500 { background: #4f4bd9; }
.bg-iris-400 { background: #6869d6; }
.bg-iris-300 { background: #9292dc; }
.bg-iris-200 { background: #bebee5; }

.bg-violet-800 { background: #373277; }
.bg-violet-700 { background: #49409a; }
.bg-violet-600 { background: #5a4ebc; }
.bg-violet-500 { background: #7160eb; }
.bg-violet-400 { background: #8378de; }
.bg-violet-300 { background: #9696da; }
.bg-violet-200 { background: #b5b5e2; }

.bg-mulberry-800 { background: #49397a; }
.bg-mulberry-700 { background: #5e4a9d; }
.bg-mulberry-600 { background: #735bc1; }
.bg-mulberry-500 { background: #886ce4; }
.bg-mulberry-400 { background: #9c89e9; }
.bg-mulberry-300 { background: #aaa4e9; }
.bg-mulberry-200 { background: #c3c3f4; }

.bg-purple-800 { background: #401b6c; }
.bg-purple-700 { background: #4e257f; }
.bg-purple-600 { background: #5c2e91; }
.bg-purple-500 { background: #744da9; }
.bg-purple-400 { background: #8764b8; }
.bg-purple-300 { background: #a997d7; }
.bg-purple-200 { background: #cfc4f5; }

.bg-magenta-800 { background: #460f54; }
.bg-magenta-700 { background: #5c126b; }
.bg-magenta-600 { background: #721481; }
.bg-magenta-500 { background: #881798; }
.bg-magenta-400 { background: #b146c2; }
.bg-magenta-300 { background: #d071d1; }
.bg-magenta-200 { background: #dea2ed; }

.bg-heliotrope-800 { background: #5c005c; }
.bg-heliotrope-700 { background: #800074; }
.bg-heliotrope-600 { background: #9a0089; }
.bg-heliotrope-500 { background: #b4009e; }
.bg-heliotrope-400 { background: #c239b3; }
.bg-heliotrope-300 { background: #d26dd1; }
.bg-heliotrope-200 { background: #de94e0; }

.bg-pink-800 { background: #77004d; }
.bg-pink-700 { background: #9b0062; }
.bg-pink-600 { background: #bf0077; }
.bg-pink-500 { background: #e3008c; }
.bg-pink-400 { background: #e438a6; }
.bg-pink-300 { background: #d76abc; }
.bg-pink-200 { background: #e8a3de; }

.bg-raspberry-800 { background: #6b0036; }
.bg-raspberry-700 { background: #970044; }
.bg-raspberry-600 { background: #c30052; }
.bg-raspberry-500 { background: #ea005e; }
.bg-raspberry-400 { background: #ee3f86; }
.bg-raspberry-300 { background: #ed85b3; }
.bg-raspberry-200 { background: #edbed3; }

.text-red-700 { color: #a80000; }
.text-red-600 { color: #c50f1f; }
.text-red-500 { color: #e81123; }
.text-red-400 { color: #e74856; }
.text-red-300 { color: #e6808a; }

.text-vermilion-700 { color: #a52613; }
.text-vermilion-600 { color: #da3b01; }
.text-vermilion-500 { color: #f03a17; }
.text-vermilion-400 { color: #ef6950; }
.text-vermilion-300 { color: #ee9889; }

.text-orange-700 { color: #a74109; }
.text-orange-600 { color: #ca5010; }
.text-orange-500 { color: #f7630c; }
.text-orange-400 { color: #f7894a; }
.text-orange-300 { color: #f7b189; }

.text-light-orange-700 { color: #b05e0d; }
.text-light-orange-600 { color: #d47300; }
.text-light-orange-500 { color: #ff8c00; }
.text-light-orange-400 { color: #ffaa44; }
.text-light-orange-300 { color: #ffc988; }

.text-amber-700 { color: #d48c00; }
.text-amber-600 { color: #eaa300; }
.text-amber-500 { color: #ffb900; }
.text-amber-400 { color: #ffc83d; }
.text-amber-300 { color: #ffd679; }

.text-yellow-700 { color: #c19c00; }
.text-yellow-600 { color: #dfbe00; }
.text-yellow-500 { color: #fce100; }
.text-yellow-400 { color: #fff100; }
.text-yellow-300 { color: #faec6e; }

.text-lime-700 { color: #8cbd18; }
.text-lime-600 { color: #a4cf0c; }
.text-lime-500 { color: #bad60a; }
.text-lime-400 { color: #d1ec3c; }
.text-lime-300 { color: #e4f577; }

.text-green-700 { color: #107c10; }
.text-green-600 { color: #13a10e; }
.text-green-500 { color: #16c60c; }
.text-green-400 { color: #47d041; }
.text-green-300 { color: #79db75; }

.text-sea-700 { color: #10893e; }
.text-sea-600 { color: #00ae56; }
.text-sea-500 { color: #00cc6a; }
.text-sea-400 { color: #38d467; }
.text-sea-300 { color: #70dda5; }

.text-caribbean-700 { color: #008272; }
.text-caribbean-600 { color: #00b294; }
.text-caribbean-500 { color: #00cea6; }
.text-caribbean-400 { color: #41dabc; }
.text-caribbean-300 { color: #81e6d3; }

.text-turquoise-700 { color: #038387; }
.text-turquoise-600 { color: #009ca4; }
.text-turquoise-500 { color: #00b7c3; }
.text-turquoise-400 { color: #30c6cc; }
.text-turquoise-300 { color: #61d6d6; }

.text-cyan-700 { color: #006f94; }
.text-cyan-600 { color: #0099bc; }
.text-cyan-500 { color: #00bcf2; }
.text-cyan-400 { color: #31d2f7; }
.text-cyan-300 { color: #69eaff; }

.text-blue-700 { color: #004e8c; }
.text-blue-600 { color: #0063b1; }
.text-blue-500 { color: #0078d7; }
.text-blue-400 { color: #3a96dd; }
.text-blue-300 { color: #83beec; }

.text-cobalt-700 { color: #0027b4; }
.text-cobalt-600 { color: #0037da; }
.text-cobalt-500 { color: #0046ff; }
.text-cobalt-400 { color: #3b78ff; }
.text-cobalt-300 { color: #7ba7ff; }

.text-palatinate-700 { color: #19318d; }
.text-palatinate-600 { color: #203dbd; }
.text-palatinate-500 { color: #2849ec; }
.text-palatinate-400 { color: #4f68ed; }
.text-palatinate-300 { color: #7c96f9; }

.text-iris-700 { color: #32318c; }
.text-iris-600 { color: #413eb3; }
.text-iris-500 { color: #4f4bd9; }
.text-iris-400 { color: #6869d6; }
.text-iris-300 { color: #bebee5; }

.text-violet-700 { color: #49409a; }
.text-violet-600 { color: #5a4ebc; }
.text-violet-500 { color: #7160eb; }
.text-violet-400 { color: #8378de; }
.text-violet-300 { color: #b5b5e2; }

.text-mulberry-700 { color: #5e4a9d; }
.text-mulberry-600 { color: #735bc1; }
.text-mulberry-500 { color: #886ce4; }
.text-mulberry-400 { color: #9c89e9; }
.text-mulberry-300 { color: #c3c3f4; }

.text-purple-700 { color: #4e257f; }
.text-purple-600 { color: #5c2e91; }
.text-purple-500 { color: #744da9; }
.text-purple-400 { color: #8764b8; }
.text-purple-300 { color: #cfc4f5; }

.text-magenta-700 { color: #5c126b; }
.text-magenta-600 { color: #721481; }
.text-magenta-500 { color: #881798; }
.text-magenta-400 { color: #b146c2; }
.text-magenta-300 { color: #dea2ed; }

.text-heliotrope-700 { color: #800074; }
.text-heliotrope-600 { color: #9a0089; }
.text-heliotrope-500 { color: #b4009e; }
.text-heliotrope-400 { color: #c239b3; }
.text-heliotrope-300 { color: #de94e0; }

.text-pink-700 { color: #9b0062; }
.text-pink-600 { color: #bf0077; }
.text-pink-500 { color: #e3008c; }
.text-pink-400 { color: #e438a6; }
.text-pink-300 { color: #e8a3de; }

.text-raspberry-700 { color: #970044; }
.text-raspberry-600 { color: #c30052; }
.text-raspberry-500 { color: #ea005e; }
.text-raspberry-400 { color: #ee3f86; }
.text-raspberry-300 { color: #edbed3; }