/*
 * This is essentially a reset file to make default HTML be dark
 */
.theme-dark {
    background: #000;
    color: #fff;

    .jumbotron {
        background-color: #111;
    }
    
    .navbar {
        .navbar-brand {
            color: #fff;
        }
    
        .collapse {
            .navbar-nav {
                .nav-item {
                    &.active {
                        .nav-link {
                            color: #fff;
                        }
                    }
    
                    .nav-link {
                        color: rgba($white,.8);

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .navview-wrapper {
        .navview {
            .navview-nav {
                li {
                    a {
                        color: #fff;
    
                        &:hover {
                            background: rgba(255,255,255,.15);
                            border: 1px solid rgba(255,255,255,.2);
                        }
                    }
                }
            }
        }
    }
}